@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="font-size: large; color: blue; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        <p>I don't know what you heard about me</p>
        <p>But a bitch can't get a dollar out of me</p>
        <p>No Cadillac, no perms, you can't see</p>
        <p>That I'm a motherfuckin' P-I-M-P</p>
    </div>
</div>
